@font-face {
  font-family: 'W95FA';
  src: url('fonts/w95fa.woff2') format('woff2'),
    url('fonts/w95fa.woff') format('woff'),
    url('fonts/W95FA.html') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'W95FA' !important;
}

._scale_hover {
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

._scale_hover:hover {
  transform: scale(1.1);
}

.networks {
  display: flex;
  align-items: center;
}

.networks a {
  display: block;
}

.networks a:not(:last-child) {
  margin-right: 8px;
}

._container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  background: #00787F;
}

.bg__wrap {
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-copy] {
  cursor: pointer;
}

.copied_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  background: #fff;
  font-family: "Knewave", system-ui;
  padding: 10px 30px;
  white-space: nowrap;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease 0s;
}

.copied_modal._show {
  opacity: 1;
  visibility: visible;
}

.image__wrap {
  position: relative;
  width: 100%;
}

.image__wrap_bg {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.first__image {
  max-width: 1550px;
  padding: 0 120px 0 0;
  margin: 80px 0 0 100px;
}

.first__content {
  position: absolute;
  width: 70%;
  bottom: 25px;
  left: 46%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.first__text {
  color: #000;
  font-size: 43.521px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -27px;
  text-align: center;
}

.first__logo {
  width: 100%;
  object-fit: contain;
}

.first__networks {
  position: absolute;
  top: 12%;
  right: 140px;
  z-index: 10000;
}

.second__images {
  margin: 0px 0;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
}

.second__image {
  width: 20%;
  transform: scale(1.2);
  position: relative;
  object-fit: contain;
}

.second__image_1 {
  z-index: 0;
  margin-top: -100px;
}

.second__image_2 {
  z-index: 1;
  margin-top: 50px;
}

.second__image_3 {
  z-index: 2;
  margin-top: -100px;
}

.second__image_4 {
  z-index: 3;
  margin-top: 150px;
}

.second__image_5 {
  z-index: 4;
  margin-top: 350px;
}

.third__image {
  width: 820px;
  margin-left: 30px;
  z-index: 10;
  margin-top: -150px;
}

.third__text {
  color: #000;
  font-size: 43.521px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.third__conent {
  position: absolute;
  top: 108px;
  left: 30px;
}

.third__image .btn-buy {
  margin-bottom: 17px;
  display: block;
}

.third__image .btn-buy:hover {
  transform: scale(1.05);
}

.third__number {
  color: #000;
  font-size: 43.521px;
  font-weight: 400;
  line-height: 120%;
  position: absolute;
  left: 17px;
  bottom: 12px;
  z-index: 1000;
}

.four__image {
  margin-left: auto;
  display: block;
  padding-right: 20px;
  margin-top: 40px;
  position: relative;
  z-index: 10;
}

.five__image {
  width: 885px;
  margin-left: 20px;
  margin-top: -100px;
  margin-bottom: 200px;
}

.six__image {
  max-width: 700px;
  position: absolute;
  right: 20px;
  bottom: 30px;
}

.video {
  position: absolute;
  bottom: 30px;
  left: 33px;
  max-width: 660px;
  object-fit: contain;
  height: 356px;
}

@media (max-width: 1400px) {
  .six__image {
    position: relative;
    margin-left: 100px;
    margin: 50px 100px;
  }

  .five__image {
    margin-bottom: 100px;
  }
}

@media (max-width: 650px) {
  .six__image {
    max-width: 300px;
    position: relative;
    margin: 30px 40px;
  }

  .video {
    position: absolute;
    bottom: 10px;
    left: 10px;
    max-width: 280px;
    object-fit: contain;
    height: auto;
  }
}

.five__text {
  position: absolute;
  left: 42px;
  top: 126px;
  max-width: 666px;
  font-size: 43.521px;
}

.five__networks {
  position: absolute;
  z-index: 10000;
  bottom: 23px;
  right: 20px;
}

.five__networks img {
  width: 48px;
}

@media (max-width: 1450px) {
  .first__networks img {
    width: 50px;
    object-fit: contain;
  }

  .first__networks {
    top: 13%;
  }
}

@media (max-width: 1300px) {
  .first__text {
    font-size: 30px;
  }

  .first__networks {
    top: 12%;
  }
}

@media (max-width: 1150px) {
  .third__image {
    margin-top: -50px;
  }
}

@media (max-width: 1040px) {
  .first__networks img {
    width: 40px;
  }

  .first__networks {
    top: 12%;
    right: 130px;
  }
}

@media (max-width: 1000px) {
  .third__image {
    margin-top: 30px;
  }

  .second__images {
    flex-wrap: wrap;
    margin: 100px 0;
  }

  .second__image_3 {
    margin-top: -50%;
  }

  .second__image_2 {
    margin-top: 50%;
  }

  .second__image_4 {
    margin-top: 50%;
  }

  .second__image_5 {
    margin-top: 0%;
  }

  .second__image {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .five__image {
    transform: scale(0.8);
    margin-top: -50px;
    margin-left: -40px;
  }

  .first__content {
    width: 55%;
  }

  .first__text {
    font-size: 24px;
    margin-top: 0;
  }
}

@media (max-width: 840px) {
  .first__networks img {
    width: 30px;
  }

  .first__networks {
    top: 12%;
  }
}

#movingGif {
  z-index: 1000000;
}

.show-767 {
  display: none !important;
}

@media (max-width: 767px) {
  .five__image {
    width: 305px;
    transform: scale(1);
    margin-left: auto;
    margin-right: auto;
  }

  .five__text {
    font-size: 26px;
    text-align: center;
    max-width: 260px;
    left: 22px;
  }

  .five__networks {
    bottom: 95px;
    right: auto;
    left: 17px;
  }

  .five__networks img {
    width: 62px;
  }

  .five__image .third__number {
    font-size: 22px !important;
    bottom: 19px !important;
  }

  #movingGif {
    display: none;
  }

  .third__text {
    font-size: 20px;
  }

  .third__number {
    font-size: 16px;
  }

  .third__image {
    width: 500px;
  }

  .third__conent {
    position: absolute;
    top: 70px;
    left: 20px;
  }

  .third__number {
    bottom: 14px;
  }

  .hide-767 {
    display: none !important;
  }

  .show-767 {
    display: flex !important;
  }

  .first__image {
    padding: 0;
    max-width: 305px;
    margin: 63px auto 0;
  }

  .first__content {
    width: 70%;
    bottom: 28%;
    left: 50%;
  }

  .first__networks {
    top: auto;
    right: auto;
    bottom: 11px;
    left: 11px;
    max-width: calc(100% - 22px);
    width: 100%;
  }

  .first__networks a:not(:last-child) {
    margin-right: 12px;
  }

  .first__networks img {
    width: 62px;
  }
}

@media (max-width: 470px) {
  .second__images {
    padding: 0 30px;
    margin: 40px 0;
  }
}

@media (max-width: 335px) {
  .four__image {
    padding-right: 10px;
  }
}


.loader {
  background: #00787F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader__image {
  animation: loader__image 3s ease infinite;
}

@keyframes loader__image {

  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader__line {
  position: relative;
  width: 90vw;
  margin-top: 150px;
}

.loader__line img {
  width: 100%;
}

.loader__line--active {
  position: absolute;
  top: 17%;
  left: 20px;
  background-color: #00007F;
  height: 70%;
  max-width: calc(100% - 40px);
}
























[data-anim-on-scroll] {
  transition: all 0.4s ease 0s;
  opacity: 0;
}

[data-anim-on-scroll]._animate {
  opacity: 1;
}

._right_anim_tr {
  transform: translateX(200%);
}

._left_anim_tr {
  transform: translateX(-200%);
}

._right_anim_tr._animate,
._left_anim_tr._animate {
  transform: translateX(0%);
}


._bottom_anim_tr {
  transform: translateY(200%);
}

._top_anim_tr {
  transform: translateY(-200%);
}

._top_anim_tr._animate,
._bottom_anim_tr._animate {
  transform: translateY(0%);
}

.second__image {
  animation: second__image 3s ease-in-out infinite;
}

@keyframes second__image {

  0%,
  100% {
    transform: scale(1.1) translateY(-10%);
  }

  50% {
    transform: scale(1.1);
  }
}

.first__logo {
  animation: first__logo 1s ease-in-out infinite;
}

@keyframes first__logo {

  0%,
  100% {
    transform: translateY(-5%);
  }

  50% {
    transform: translateY(0%);
  }
}



.loop-images .image {
  position: absolute;
  z-index: 1;
  bottom: -100%;
  animation: moveUp 6s linear infinite;
}

.loop-images .right .image {
  right: 0;
}

.loop-images .right .image-4 {
  right: -15%;
  left: auto;
}

@keyframes moveUp {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: 100%;
  }
}

.loop-images .image-2 {
  animation-delay: 2s;
  animation: moveUp 7s linear infinite;
}

.loop-images .image-3 {
  animation-delay: 3s;
  animation: moveUp 9s linear infinite;
}

.loop-images .image-4 {
  animation-delay: 6s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-1 {
  animation-delay: 0s;
  animation: moveUp 7s linear infinite;
}

.loop-images .right .image-2 {
  animation-delay: 4s;
  animation: moveUp 9s linear infinite;
}

.loop-images .right .image-3 {
  animation-delay: 7s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-4 {
  animation-delay: 10s;
  animation: moveUp 8s linear infinite;
}

._hide {
  opacity: 0;
  height: 0;
  min-height: 0;
  overflow: hidden;
  visibility: hidden;
}

@media (max-width: 767px) {
  .loader__image {
    width: 50px;
    object-fit: contain;
  }

  .loader__line {
    margin-top: 20px;
  }

  .loader__line--active {
    position: absolute;
    left: 10px;
    background-color: #00007F;
    height: 70%;
    max-width: calc(100% - 20px);
  }
}